args==0.1.0
asgiref==3.5.2
attrs==22.1.0
autopep8==1.6.0
beautifulsoup4==4.11.1
Brotli==1.0.9
certifi==2022.6.15.1
charset-normalizer==2.1.1
click==8.0.3
clint==0.5.1
colorama==0.4.4
comtypes==1.1.14
cycler==0.11.0
discum==1.4.1
Django==4.1.4
ecapture==2.0.2
feedparser==6.0.10
filetype==1.1.0
Flask==2.0.2
fonttools==4.37.4
htmlmin==0.1.12
idna==3.3
ImageHash==4.3.1
itsdangerous==2.0.1
jaraco.context==4.2.0
Jinja2==3.0.2
joblib==1.1.1
kiwisolver==1.4.4
MarkupSafe==2.0.1
matplotlib==3.5.3
missingno==0.5.1
more-itertools==9.0.0
MouseInfo==0.1.3
multimethod==1.8
networkx==2.8.7
numpy==1.23.4
opencv-python==4.6.0.66
packaging==21.3
pandas==1.4.4
pandas-profiling==3.3.0
patsy==0.5.3
phik==0.12.2
Pillow==9.2.0
playsound==1.3.0
progress==1.6
PyAudio==0.2.12
PyAutoGUI==0.9.53
pycodestyle==2.8.0
pydantic==1.9.2
PyGetWindow==0.0.9
pyjokes==0.6.0
PyJWT==2.6.0
PyMsgBox==1.0.9
pyparsing==3.0.9
pyperclip==1.8.2
pypiwin32==223
PyRect==0.2.0
PyScreeze==0.1.28
python-dateutil==2.8.2
pyttsx3==2.90
pytweening==1.0.4
pytz==2022.4
PyWavelets==1.4.1
pywhatkit==5.4
pywin32==304
PyYAML==6.0
requests==2.28.1
requests-toolbelt==0.9.1
scipy==1.9.2
seaborn==0.11.2
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
sqlparse==0.4.3
statsmodels==0.13.2
tangled-up-in-unicode==0.2.0
toml==0.10.2
tqdm==4.64.1
twilio==7.16.0
typing_extensions==4.4.0
tzdata==2022.7
ua-parser==0.16.1
urllib3==1.26.12
visions==0.7.5
websocket-client==0.59.0
Werkzeug==2.0.2
wikipedia==1.4.0
winshell==0.6
wolframalpha==5.0.0
xmltodict==0.13.0

# pip install -r requirements.txt